// Variables (consider adjusting these values)
$header-height: 80px;

body {
    margin: 0; // Reset default margins
}

header {
    height: $header-height; 
    display: flex;
    flex-direction: column; /* Stack divs vertically */ 
    align-items: center;  
    justify-content: space-between;
    padding: 10px 20px 15px 15px;
    background-color: #fff; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    height: 100px;
}

#header-section-1 {
    display: flex; /* Allow flexbox layout within the first section */
    align-items: center;
    width: 100%; /* Ensure the first section spans the full width */
}

#header-section-2 {
    display: flex;
    align-items: center;

    width: 100%; /* Ensure the second section also spans the full width */
}

#header-section-2 > span{
    color: #878575;
    padding: 0 0 0 19px;

    &:hover{
        color: #4a4942;
    }
}



#line{
    display: inline-block;
    background-color: #878575;

    width: 2px;
    height: 30px;

    margin-left: 19px;
}

.logo {
    width: 100px; /* Adjust logo width */
}

.logo > img{
    width: 45px;
}

.search-bar-div-1, .search-bar-div-2{
    display: flex;
    align-items: center;

    background-color: #f2f2f2;
    flex: 1; // Make the search bar take up available space

    margin-right: 15px;
}

.search-bar-div-1{
    border-radius: 30px;
    width: 1500px;
    height: 45px;
}

.search-bar-div-2{
    border-radius: 10px;
    
    width: 700px;
    height: 60px;
}

.search-bar-div-1 > img, .search-bar-div-2 > img{
    width: 15px;
    padding: 0 15px 0 15px;
}

.search-bar-text{
    color: #878575;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex; /* Arrange list items horizontally */
        align-items: center; /* Vertically center items */ 

        li {
            margin: 0 15px;  /* Spacing between items */

            a {
                color: #878575;  /* Example text color */
                text-decoration: none;

                &:hover{
                    color: #4a4942;
                }
            }
        }
    }
}

#nav-line{
    background-color: #878575;

    width: 1px;
    height: 30px;
}

#submit-a-photo{
    border: 1px solid #878575;
    border-radius: 5px;

    padding: 5px;

    &:hover{
        border: 1px solid #4a4942;
    }
}

#burger-menu {
    /* Some example styling for the hamburger icon */
    .burger-line {
        width: 20px;
        height: 2px;
        background-color: #878575;
        margin-bottom: 5px;
    }

    cursor: pointer;
}

.hero {
    margin-top: 45px;

    height: 300px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;

    .search-bar-and-trending {
        display: flex;     
        align-items:flex-end;
        height: 550px;
        justify-content: center;
        margin-bottom: 20px;

        #heading-unsplash {
            font-size: 45px;
            font-weight: bold;
        }

        #para-1, #para-2 {
            font-size: 20px;
        }
        
        #para-1 {
            margin: 0;
            padding-top: 10px;
        }

        #para-2 {
            margin: 0;
            padding-top: 5px;
            padding-bottom: 20px;
        }
    }

    .trending-section {
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center; /* Center text content vertically */
    }

    .trending-section ul {
        list-style: none; /* Remove default bullet points */
        margin: 0;
        padding: 0;
        height: 100%;
        width: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border: 1px solid #87857521;
        border-radius: 10px;

        margin-right: 30px;
        margin-left: 30px;
    }
    
    .trending-section li {
        color: #878575;
        width: 90px;
        text-align: center;
        margin-bottom: 5px; 
        padding: 5px 10px; /* Add some padding for the border */
        border-radius: 5px; /* Set the rounded corner effect */
        border: 2px solid #87857521; /* Light background color */
        cursor: pointer; /* Indicate interactivity on hover */
    
        /* Hover Animation */
        &:hover {
            border: 2px solid #878575; /* Slightly darker background on hover */
        }
    }

    #featured-image {
        height: 100%;
        width: 300px;
        border-radius: 10px;
    }
}
